{% extends 'base.twig' %}

{% block content %}
    {% for user in users %}
        <div class="container mt-5">
            <div class="card border-none" style="max-width: 520px; margin: auto">
                <div class="card-header bg-green border-none">
                    <h5 class="card-title">{{ user.email }}</h5>
                </div>
                <div class="card-body bg-black-light">
                    <p class="card-text">{{ user.name }} à le role de {{ user.role }}</p>
                    {% if user.role == 'admin' %}
                    <a href="user-user&id={{ user.id }}" class="btn btn-primary">Passer à
                        user</a>
                    {% endif %}
                    {% if user.role == 'user' %}
                    <a href="user-admin&id={{ user.id }}" class="btn btn-success">Passer à
                        admin</a>
                    {% endif %}
                    <a href="delete-user&id={{ user.id }}" class="btn btn-danger">Supprimer</a>
                </div>
                <div class="card-footer bg-black-dark">
                    <p class="card-text">
                        <small>Inscrit depuis le {{ user.date }}</small>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}